.slider-container {
  position: relative;
}

.slider-wrapper {
  position: relative;
}

.main-slider {
  position: relative;
  z-index: 1;
}

.nav-slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 2;
}

/* .slider-container {
  position: relative;
}

.slider-wrapper {
  position: relative;
}

.main-slider {
  position: relative;
  z-index: 1;
}

.nav-slider {
  position: absolute;
  top: 25%;
  right: 0;
  width: 50%;
  z-index: 2;
} */
